<div class="flex justify-end">
  <button mat-dialog-close>
    <img src="/assets/close.png" width="25" height="25" alt="close button" />
  </button>
</div>

<div mat-dialog-content class="">
  <div class="h-full">
    <div class="grid grid-cols-5 gap-x-4 px-10 h-full">
      <div
        class="bg-[#dbdbdb] col-span-2 shadow-lg rounded-md p-2"
        *ngIf="data.Type != 'configurations'"
      >
        <img
          src="/assets/image.png"
          alt="Image Example"
          *ngIf="data.Method == 'Get'; else imageForm"
        />
        <ng-template #imageForm>
          <div class="flex flex-col justify-center items-center">
            <img src="/assets/gallery.png" alt="gallery" />
            <label for="inputTag" class="cursor-pointer bg-[#FFFCFC] px-4 py-1 rounded-md shadow-lg">
              Browse Image
              <input id="inputTag" type="file" />
            </label>
            <input
              type="file"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            />
          </div>
        </ng-template>
      </div>
      <div
        class="bg-[#dbdbdb] {{
          data.Type != 'configurations' ? 'col-span-3' : 'col-span-5'
        }} shadow-lg rounded-md p-2"
      >
        <app-form
          [FormModel]="data.FormModel"
          [Form]="data.Form"
          [DialogRef]="dialogRef"
          [Type]="data.Type"
          [Method]="data.Method"
        ></app-form>
      </div>
    </div>
  </div>
</div>
